<% provide(:title, 'Rules') %>

<h1>Rules of Chinese Poker</h1>
<h2>How Chinese Poker is played</h2>
<p>
	Kai's Chinese poker is generally played with four players.  Each player is 
	dealt 13 cards, and each player arranges those 13 cards into three separate
	'hands', which are compared against each other player's three hands.  The
	three hands respectively contain 3, 5 and 5 cards.
	<br />
	<br />
	The only rule restricting how to arrange these hands is that the 'front' hand 
	of 3 cards must have a poker hand value lower than that of the 'back' hand of 
	5 cards.  However, you should consider how the winners of each hand is decided:
	<br />
	<ul>
		<li>
			For the front and back hands, the hands are ranked by the normal poker hand
			hierarchy
		</li>
		<li>
			For the middle hand, the hands are ranked by the 'lo' hand rules: the objective
			for the middle hand is to make the <strong>worst</strong> hand possible
		</li>
	<li>
	See below for the poker hand ranking rules, and the scoring rules.
	<br />
</p>

<h2>Poker Hands</h2>
<p>
	Chinese poker uses normal poker hands.  In order of strength, they are:
	<ul>
		<li>High Card</li>
		<li>Pair</li>
		<li>Two Pair</li>
		<li>Three of a Kind</li>
		<li>Straight</li>
		<li>Flush</li>
		<li>Full House</li>
		<li>Four of a Kind</li>
		<li>Straight Flush</li>
	</ul>
	<br />
	Kai's Chinese poker is 'hi-lo', meaning that some hands are won by the
	player with the best hand, but some are won by the player with the lowest
	hand.  As mentioned above, the 'front' and 'back' hands are both determined
	by the strongest hand, but the 'middle' hand is won by the player with the
	lowest hand, under the following rules:
	<br />
	<ol>
		<li>
			Discard any duplicate cards of the same value.  So a hand of A2344
			should be treated as A234, and A2333 is treated as A23.
		</li>
		<li>
			Aces are treated as 'one' (ie, the lowest number possible)
		</li>
		<li>
			Then, it's time to compare the hands:
		</li>
		<ol>
			<li>
				A hand with fewer cards automatically loses to a hand with more cards.
				So A234 loses to 9TJQK.
			</li>
			<li>
				Order the hand from highest card to lowest.  When read as a number in
				this order, the lowest number wins.  So for example, 75432 beats 76321.
			</li>
		</ol>
	</ol>
</p>

<h2>Scoring</h2>
<p>
	Scoring is done after each of the three 'hands' are compared.<br />
	[...]<br />
	[Incomplete]<br />
	[...]
</p>

<p>
	<center>
		And now, you're ready to play!
		<br />
		<%= render 'shared/signup_link' %>
	</center>
</p>

