<div class="center hero-unit">

	<h1>Kai's Chinese Poker</h1>
	<p>This is a recode of Kai's original Chinese Poker web app</p>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

