<% if !@table %>
	<% provide(:title, "No table open") %>
	<p>There is no such table open right now.</p>
	<% if signed_in? %>
		<%= link_to "Start a new table!", new_table_path, class: "btn btn-large btn-primary btn-center" %>
	<% end %>
	<%= link_to "See current list of tables", tables_path, class: "btn btn-large btn-primary btn-center" %>
<% else %>

	<% description = "Stakes: $#{@table.stakes}/point, #{@table.seats} seats, #{ (@table.ais)?"with AIs":"humans only" }" %>
	<% provide(:title, description) %>

	<h1>Table <%= @table.id %></h1>
	<h2><%= description %></h2>
	<p>Find me in app/views/tables/show.html.erb</p>
<% end %>