// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#avatar_choices_section{
	float: left;
	margin-bottom: 10px;
	display: none;
}

.avatar_choices {
	padding: 10px
}

.avatar {
  float: left;
  margin-right: 10px;
}

.name_and_balance{
	float: left;
}